@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Lato, sans-serif;
    color: #354358;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right bottom, rgba(241, 5, 5, 0.8), #ff8000);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
